@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&family=Poppins&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: var(--theme-font-family);
  box-sizing: border-box;
  color: var(--theme-font);
}

:root {
  --theme-background: #1c1c1c;
  --theme-back-div: #232323;
  --contact-divider: none;
  --theme-front-div: #1a1a1a;
  --theme-color: #181818;
  --theme-color-plus: #111111;
  --theme-font: #ffffff;
  --theme-font-sub: #c8c8c8;
  --theme-font-family: arial;
  --theme-border: 1px solid #212121;
  --theme-border-dim: 1px solid #bbb;
  --theme-border-radius: 10px;
  --theme-switch: right;
  --theme-scrollbar: #3d3d3d;
  --display-dropdown: none;
}

body {
  background-color: var(--theme-background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body::-webkit-scrollbar {
  width: 0.6rem;
}
body::-webkit-scrollbar-track {
  background: var(--theme-color);
}
body::-webkit-scrollbar-thumb {
  background: var(--theme-scrollbar);
  border-radius: var(--theme-border-radius);
  border: 0.1px solid var(--theme-color);
}

.loading-page {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: var(--theme-background);
  color: var(--theme-font);
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  z-index: 101;
}
.loading-page#true {
  opacity: 1;
  transition: all 0s;
}
.loading-page#false {
  opacity: 0;
  transition: all 0.5s ease-out;
  pointer-events: none;
}
.loading-page p#m {
  font-size: 50px;
  opacity: 0;
  -webkit-animation: loading-effect-m 1.5s linear forwards 0.3s;
          animation: loading-effect-m 1.5s linear forwards 0.3s;
}
.loading-page p#k {
  font-size: 50px;
  opacity: 0;
  -webkit-animation: loading-effect-k 1.5s linear forwards 0.3s;
          animation: loading-effect-k 1.5s linear forwards 0.3s;
}

@-webkit-keyframes loading-effect-m {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  50% {
    transform: translateY(0px);
    opacity: 0.7;
  }
  75% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes loading-effect-m {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  50% {
    transform: translateY(0px);
    opacity: 0.7;
  }
  75% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes loading-effect-k {
  25% {
    transform: translateY(-20px);
    opacity: 0;
  }
  50% {
    opacity: 0.7;
  }
  65% {
    transform: translateY(0px);
  }
  75% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes loading-effect-k {
  25% {
    transform: translateY(-20px);
    opacity: 0;
  }
  50% {
    opacity: 0.7;
  }
  65% {
    transform: translateY(0px);
  }
  75% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.next-button {
  position: relative;
  display: block;
  margin: 0 auto;
  margin-top: 140px;
  width: 88px;
  height: 49px;
  font-size: 32px;
  color: var(--theme-font);
  border: var(--theme-border);
  border-radius: var(--theme-border-radius);
  overflow: hidden;
  background-color: var(--theme-color-plus);
}

.next-button.light {
  display: inline-block;
  background: linear-gradient(to bottom, var(--theme-font) 40%, gray 40%, gray 60%, var(--theme-color) 60%, var(--theme-color) 100%);
  background-size: 250% 250%;
  background-position: bottom;
  transition: all 0.3s ease;
  transition-property: color, background-position;
  cursor: pointer;
}
.next-button.light .next-text.light {
  transition: color 0.3s ease;
}

.next-button.light:hover {
  color: var(--theme-color);
  background-position: top;
}
.next-button.light:hover .next-text.light {
  color: var(--theme-color);
}

.next-button.dark {
  background-color: var(--theme-color);
  display: inline-block;
  width: 89px;
  height: 50px;
  margin: auto;
  margin-top: 140px;
  z-index: 1;
  cursor: pointer;
  transition: all 0.25s ease-out;
  transition-property: background-position, color;
}

.next-button.dark:hover {
  color: var(--theme-color);
}
.next-button.dark:hover .next-text.dark {
  -webkit-animation: for-dark-in 0.3s ease 0.1s forwards;
          animation: for-dark-in 0.3s ease 0.1s forwards;
}

@-webkit-keyframes for-dark-in {
  0% {
    color: var(--theme-font);
  }
  49% {
    opacity: 1;
  }
  50% {
    transform: translateX(100%);
    opacity: 0;
  }
  51% {
    transform: translateX(-100%);
    opacity: 0;
  }
  52% {
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    color: var(--theme-font);
  }
}

@keyframes for-dark-in {
  0% {
    color: var(--theme-font);
  }
  49% {
    opacity: 1;
  }
  50% {
    transform: translateX(100%);
    opacity: 0;
  }
  51% {
    transform: translateX(-100%);
    opacity: 0;
  }
  52% {
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    color: var(--theme-font);
  }
}
.next-button:active {
  transform: scale(0.93);
}

.page-header {
  position: relative;
  background: var(--theme-color);
  text-align: left;
}

#title {
  position: relative;
  margin: 15px 0 16px 30px;
  display: inline-block;
  z-index: 100;
}

.navbar {
  z-index: 99;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: var(--theme-color);
  margin-top: -40px;
  margin-bottom: 15vh;
  border-bottom: var(--theme-border);
}

.navbar-list {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.navbar-list a {
  text-decoration: none;
}

.navbar-item {
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  display: inline-block;
  list-style: none;
  margin: 10px 3% 8px 2%;
  transition: opacity 0.3s ease;
}

.navbar-item::before {
  content: "";
  display: block;
  height: 3.5px;
  width: 0%;
  background-color: var(--theme-font);
  border-radius: var(--theme-border-radius);
  transition: width 0.3s ease-out;
}

.navbar-item:hover::before {
  width: 100%;
}

.navbar-list {
  visibility: hidden;
}

.navbar-list > * {
  visibility: visible;
}

.navbar-list:hover > *,
.navbar-list:hover > *::before {
  opacity: 0.3;
}

.navbar-item:hover,
.navbar-item:hover::before {
  opacity: 1;
}

#theme-switch {
  display: inline;
  width: 23px;
  height: 23px;
  transform: translateY(1px);
  border: 2px solid peru;
  border-radius: 50%;
  cursor: pointer;
  background: linear-gradient(90deg, #212121 0%, #212121 50%, white 50%, white 100%);
  background-size: 200% 100%;
  background-position: center;
  transition: all 0.3s ease-out, opacity 0.2s ease;
}

#theme-switch::before {
  display: none;
}

#theme-switch:hover {
  background-position: var(--theme-switch);
}

.dropdown {
  position: absolute;
  width: 75px;
  background-color: var(--theme-color);
  border: var(--theme-border);
  border-top: 3px solid var(--theme-font);
  border-bottom-left-radius: var(--theme-border-radius);
  border-bottom-right-radius: var(--theme-border-radius);
  margin-top: 7px;
  display: var(--display-dropdown);
  text-align: center;
  justify-content: space-around;
  padding-top: 12px;
  list-style: none;
  list-style-position: inside;
}
.dropdown .dropdown-item {
  cursor: pointer;
  margin-bottom: 9px;
  color: var(--theme-font-sub);
}
.dropdown .dropdown-item:hover {
  color: var(--theme-font);
}

.main {
  text-align: center;
}

#home {
  text-align: center;
}
#home .heading {
  color: var(--theme-font);
  display: inline-block;
  position: relative;
  font-size: calc(40px + 3vmin);
  margin-top: 8vh;
  margin-bottom: 13vh;
}
#home .intro {
  margin-bottom: 2rem;
  padding: 0 2vw;
}
#home .greeting {
  display: inline-block;
  overflow: hidden;
  position: relative;
  font-size: medium;
  margin-bottom: 1rem;
}
#home .greeting.true:before {
  content: "";
  position: absolute;
  left: -20%;
  width: 120%;
  height: 100%;
  background: linear-gradient(to right, transparent 0%, var(--theme-background) 15%, var(--theme-background) 100%);
}
#home .greeting.false:before {
  content: "";
  position: absolute;
  left: -20%;
  width: 120%;
  height: 100%;
  background: linear-gradient(to right, transparent 0%, var(--theme-background) 15%, var(--theme-background) 100%);
  -webkit-animation: text-reveal 3s ease forwards;
          animation: text-reveal 3s ease forwards;
}

@-webkit-keyframes text-reveal {
  0% {
    left: -20%;
  }
  100% {
    left: 100%;
  }
}

@keyframes text-reveal {
  0% {
    left: -20%;
  }
  100% {
    left: 100%;
  }
}
#home .back-div {
  display: flex;
  justify-content: center;
  gap: 12%;
  background-color: var(--theme-back-div);
  border-top: var(--theme-border);
  border-bottom: var(--theme-border);
  padding: 13vh 0;
  margin-bottom: 20vh;
}
#home .back-div .back-div-sub {
  display: block;
  justify-content: center;
  width: 250px;
  text-align: center;
}
#home .back-div .back-div-sub .back-div-sub-title {
  margin-bottom: 1rem;
  text-align: center;
  white-space: nowrap;
}
#home .back-div .back-div-sub .list-container {
  display: inline-block;
  text-align: left;
}
#home .back-div .back-div-sub #tool-container {
  transform: translate(5px);
}
#home .back-div .back-div-sub #lang-container {
  transform: translate(15px);
}
#home .back-div .back-div-sub .list-element {
  transition: all 0.5s ease-out;
}
#home .back-div .back-div-sub .list-element:hover {
  transform: translateY(-5px);
}

.visual-div {
  display: flex;
  opacity: 0;
  margin: auto;
  gap: 5vw;
  transition: all 1s ease-out;
}
.visual-div.show {
  opacity: 1;
}
.visual-div.show #video-container {
  transform: none;
}
.visual-div.show #image-container {
  transform: none;
}
.visual-div .visual-container {
  transition: transform 0.5s ease-out;
  position: relative;
}
.visual-div .citation {
  opacity: 0;
  font-size: small;
  position: absolute;
  color: peru;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.visual-div .text-container {
  display: grid;
  place-items: center;
  font-size: medium;
}
.visual-div#image-div {
  width: 60vw;
  justify-content: left;
  margin: 0 auto;
  margin-bottom: 20vh;
}
.visual-div#image-div .text-container {
  text-align: left;
}
.visual-div #image-container {
  transform: translateX(-5vw);
}
.visual-div #image-container #home-image {
  position: relative;
  width: calc(100px + 15vw);
  border-radius: var(--theme-border-radius);
}
.visual-div #image-container:hover #home-image {
  opacity: 0.6;
}
.visual-div #image-container:hover .citation {
  opacity: 1;
}
.visual-div#video-div {
  flex-direction: row-reverse;
  width: 80vw;
  justify-content: center;
}
.visual-div#video-div .text-container {
  text-align: right;
}
.visual-div #video-container {
  transform: translateX(5vw);
}
.visual-div #video-container #home-video {
  width: calc(200px + 30vw);
  border-radius: var(--theme-border-radius);
}
.visual-div #video-container:hover #home-video {
  opacity: 0.6;
}
.visual-div #video-container:hover .citation {
  opacity: 1;
}

#about .main-header {
  text-align: left;
  margin: 15px 30px;
}
#about .back-div {
  text-align: left;
  padding: 4vh;
  background-color: var(--theme-back-div);
  border-top: var(--theme-border);
  border-bottom: var(--theme-border);
  margin-top: 10px;
}
#about .back-div #about-me {
  line-height: 3rem;
}

#contact {
  text-align: center;
}
#contact .main-header {
  margin-bottom: 15px;
}
#contact #contact-divider {
  display: var(--contact-divider);
  border-bottom: 1px solid var(--theme-font);
  width: 60vw;
  max-width: 370px;
  margin: auto;
}
#contact .back-div {
  display: flex;
  justify-content: center;
  padding: 40px 0;
  margin-bottom: 12vh;
  background-color: var(--theme-back-div);
}
#contact .contact-form {
  width: 80vw;
  max-width: 600px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 3vh 50px;
}
#contact .contact-form .form-element {
  text-align: left;
  display: flex;
  flex-direction: column-reverse;
}
#contact .contact-form .form-element#form-element-name {
  grid-column: 1/1;
}
#contact .contact-form .form-element#form-element-email {
  grid-column: 2/-1;
}
#contact .contact-form .form-element#form-element-textarea {
  grid-column: 1/-1;
}
#contact .contact-form .form-element .form-label {
  opacity: 0;
  transition: all ease-in 0.8s;
  padding-left: 4px;
}
#contact .contact-form .form-element .form-input {
  background-color: var(--theme-background);
  color: var(--theme-font);
  font-size: small;
  border: none;
  border-radius: var(--theme-border-radius);
  border-bottom: var(--theme-border-dim);
  line-height: 1.1rem;
  padding: 4px;
}
#contact .contact-form .form-element .form-input#textarea-input {
  padding: 6px;
  resize: none;
  height: 120px;
  border: var(--theme-border-dim);
}
#contact .contact-form .form-element .form-input#textarea-input:focus {
  border: var(--theme-border);
}
#contact .contact-form .form-element .form-input#textarea-input:not(:-moz-placeholder-shown) {
  border: var(--theme-border);
}
#contact .contact-form .form-element .form-input#textarea-input:not(:-ms-input-placeholder) {
  border: var(--theme-border);
}
#contact .contact-form .form-element .form-input#textarea-input:not(:placeholder-shown) {
  border: var(--theme-border);
}
#contact .contact-form .form-element .form-input::-moz-placeholder {
  -moz-transition: all ease-in 1s;
  transition: all ease-in 1s;
}
#contact .contact-form .form-element .form-input:-ms-input-placeholder {
  -ms-transition: all ease-in 1s;
  transition: all ease-in 1s;
}
#contact .contact-form .form-element .form-input::placeholder {
  transition: all ease-in 1s;
}
#contact .contact-form .form-element .form-input:focus {
  outline: none;
  color: var(--theme-font);
  border-bottom: var(--theme-border);
}
#contact .contact-form .form-element .form-input:focus::-moz-placeholder {
  color: transparent;
  -moz-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
#contact .contact-form .form-element .form-input:focus:-ms-input-placeholder {
  color: transparent;
  -ms-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
#contact .contact-form .form-element .form-input:focus::placeholder {
  color: transparent;
  transition: all ease 0.3s;
}
#contact .contact-form .form-element .form-input:not(:-moz-placeholder-shown) {
  border-bottom: var(--theme-border);
}
#contact .contact-form .form-element .form-input:not(:-ms-input-placeholder) {
  border-bottom: var(--theme-border);
}
#contact .contact-form .form-element .form-input:not(:placeholder-shown) {
  border-bottom: var(--theme-border);
}
#contact .contact-form .form-element .form-input:not(:-moz-placeholder-shown) ~ .form-label {
  opacity: 1;
}
#contact .contact-form .form-element .form-input:not(:-ms-input-placeholder) ~ .form-label {
  opacity: 1;
}
#contact .contact-form .form-element .form-input:not(:placeholder-shown) ~ .form-label {
  opacity: 1;
}
#contact .contact-form #submit-input {
  margin: auto;
  width: 90px;
  height: 40px;
  grid-column: 1/-1;
  background-color: var(--theme-background);
  border: var(--theme-border);
  border-radius: var(--theme-border-radius);
  font-size: medium;
}
#contact .contact-form #submit-input:hover {
  background-color: gray;
  transition: all ease 0.2s;
}
#contact .contact-form #submit-input:active {
  background-color: lightgray;
}
#contact #thanks {
  font-size: larger;
  position: relative;
  bottom: 0;
  -webkit-animation: blink 3s linear infinite;
          animation: blink 3s linear infinite;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0.3;
  }
  40% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}

@keyframes blink {
  0% {
    opacity: 0.3;
  }
  40% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}
#not-found {
  display: block;
  text-align: center;
}

.not-footer {
  min-height: 85vh;
}

.footer {
  margin-top: 6vh;
  height: 9vh;
  display: flex;
  justify-content: right;
  align-items: top;
  flex-wrap: wrap;
  padding: 2vh 3vw;
  -moz-column-gap: 35px;
       column-gap: 35px;
  bottom: 0;
  background-color: var(--theme-color);
  border-top: var(--theme-border);
}
.footer .footer-element {
  display: inline;
  text-decoration: none;
  font-size: large;
}
.footer #copyright {
  display: block;
  width: 100%;
  text-align: center;
  font-size: calc(8px + 1vmin);
}

@media only screen and (max-width: 720px) {
  .navbar {
    margin-top: -15px;
  }
}
@media only screen and (max-width: 640px) {
  #title {
    margin: 15px 0 16px 15px;
  }
  .greeting-element {
    display: block;
  }
  #home .back-div {
    flex-direction: column;
    align-items: center;
    gap: 8vh;
  }
  #home .visual-div#image-div {
    width: 85vw;
  }
  #home .visual-div#image-div #home-image {
    width: 50vw;
  }
  #home .visual-div#video-div {
    flex-direction: column;
    width: 85vw;
    justify-content: center;
  }
  #home .visual-div#video-div #home-video {
    width: 100%;
  }
  #home .visual-div#video-div .text-container {
    text-align: center;
  }
  #home .visual-word {
    display: block;
  }
  #about .back-div {
    padding: 2vh;
  }
  #contact .contact-form .form-element#form-element-name {
    grid-column: 1/-1;
  }
  #contact .contact-form .form-element#form-element-email {
    grid-column: 1/-1;
  }
  .footer {
    justify-content: center;
    padding: 2vh 0;
  }
  .footer .footer-element {
    margin: 0 20px;
  }
}/*# sourceMappingURL=index.css.map */