* {
  padding: 0;
  margin: 0;
  font-family: var(--theme-font-family);
  box-sizing: border-box;
  color: var(--theme-font);
}
:root {
  --theme-background: #1e1e1e;
  --theme-back-div: #232323;
  --theme-front-div: #1a1a1a;
  --theme-back-div-width: auto;
  --theme-back-div-max-width: auto;
  --theme-color: #181818;
  --theme-color-plus: #111111;
  --theme-less-color: #c8c8c8;
  --theme-font: #ffffff;
  --theme-font-sub: #c8c8c8;
  --theme-font-family: arial;
  --theme-border-color: #212121;
  --theme-border-radius: 10px;
  --theme-switch: right;
  --theme-scrollbar: #3d3d3d;

  --display-dropdown: none;
}
body {
  background-color: var(--theme-background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &::-webkit-scrollbar {
    width: 0.6rem;
  }
  &::-webkit-scrollbar-track {
    background: var(--theme-color);
  }
  &::-webkit-scrollbar-thumb {
    background: var(--theme-scrollbar);
    border-radius: var(--theme-border-radius);
    border: 0.1px solid var(--theme-color);
  }
}
//loading effect
.loading-page {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: var(--theme-background);
  color: var(--theme-font);
  user-select: none;
  z-index: 101;

  &#true {
    opacity: 1;
    transition: all 0s;
  }
  &#false {
    opacity: 0;
    transition: all 0.5s ease-out;
    pointer-events: none;
  }
  & p#m {
    font-size: 50px;
    opacity: 0;
    animation: loading-effect-m 1.5s linear forwards 0.3s;
  }
  & p#k {
    font-size: 50px;
    opacity: 0;
    animation: loading-effect-k 1.5s linear forwards 0.3s;
  }
}
@keyframes loading-effect-m {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  25% {
  }
  50% {
    transform: translateY(0px);
    opacity: 0.7;
  }
  75% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes loading-effect-k {
  0% {
  }
  25% {
    transform: translateY(-20px);
    opacity: 0;
  }
  50% {
    opacity: 0.7;
  }
  65% {
    transform: translateY(0px);
  }
  75% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
//Header
.page-header {
  position: relative;
  background: var(--theme-color);
  text-align: left;
}
#title {
  position: relative;
  margin: 15px 0 16px 30px;
  display: inline-block;
  z-index: 100;
}
//navigation bar
.navbar {
  z-index: 99;
  position: sticky;
  top: 0;
  background: var(--theme-color);
  margin-top: -40px;
  margin-bottom: 15vh;
  border-bottom: 1px solid var(--theme-border-color);
}
.navbar-list {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  & a {
    text-decoration: none;
  }
}
.navbar-item {
  user-select: none;
  display: inline-block;
  list-style: none;
  margin: 10px 3% 8px 2%;
  transition: opacity 0.3s ease;
}
.navbar-item::before {
  content: "";
  display: block;
  height: 3.5px;
  width: 0%;
  background-color: var(--theme-font);
  border-radius: var(--theme-border-radius);
  transition: width 0.3s ease-out;
}
.navbar-item:hover::before {
  width: 100%;
}
.navbar-list {
  visibility: hidden;
}
.navbar-list > * {
  visibility: visible;
}
.navbar-list:hover > *,
.navbar-list:hover > *::before {
  opacity: 0.3;
}
.navbar-item:hover,
.navbar-item:hover::before {
  opacity: 1;
}
//theme switch
#theme-switch {
  display: inline;
  width: 23px;
  height: 23px;
  transform: translateY(1px);
  border: 2px solid peru;
  border-radius: 50%;
  cursor: pointer;
  background: linear-gradient(
    90deg,
    #212121 0%,
    #212121 50%,
    white 50%,
    white 100%
  );
  background-size: 200% 100%;
  background-position: center;
  transition: all 0.3s ease-out, opacity 0.2s ease;
}
#theme-switch::before {
  display: none;
}
#theme-switch:hover {
  background-position: var(--theme-switch);
}
.dropdown {
  position: absolute;
  width: 75px;
  background-color: var(--theme-color);
  border: 1px solid var(--theme-border-color);
  border-top: 3px solid var(--theme-font);
  border-bottom-left-radius: var(--theme-border-radius);
  border-bottom-right-radius: var(--theme-border-radius);
  margin-top: 7px;
  display: var(--display-dropdown);
  text-align: center;
  justify-content: space-around;
  padding-top: 12px;
  list-style: none;
  list-style-position: inside;

  & .dropdown-item {
    cursor: pointer;
    margin-bottom: 9px;
    color: var(--theme-font-sub);

    &:hover {
      color: var(--theme-font);
    }
  }
}
//main-pages
.main {
  text-align: center;
}
//Home
#home {
  text-align: center;
  & .heading {
    color: var(--theme-font);
    display: inline-block;
    position: relative;
    font-size: calc(40px + 3vmin);
    margin-top: 8vh;
    margin-bottom: 13vh;
    /*&::before {
      content: "";
      transform: translateX(-4px);
      position: absolute;
      z-index: -1;
      border-radius: var(--theme-border-radius);
      background-color: var(--theme-font);
      width: 101%;
      height: 103%;
    }*/
  }
  & .intro {
    margin-bottom: 2rem;
    padding: 0 2vw;
  }
  & .greeting {
    display: inline-block;
    overflow: hidden;
    position: relative;
    font-size: medium;
    margin-bottom: 1rem;
  }
  & .greeting.true:before {
    content: "";
    position: absolute;
    left: -20%;
    width: 120%;
    height: 100%;
    background: linear-gradient(
      to right,
      transparent 0%,
      var(--theme-background) 15%,
      var(--theme-background) 100%
    );
  }
  & .greeting.false:before {
    content: "";
    position: absolute;
    left: -20%;
    width: 120%;
    height: 100%;
    background: linear-gradient(
      to right,
      transparent 0%,
      var(--theme-background) 15%,
      var(--theme-background) 100%
    );
    animation: text-reveal 3s ease forwards;
  }
}
@keyframes text-reveal {
  0% {
    left: -20%;
  }
  100% {
    left: 100%;
  }
}
//skill-set-div
#home .back-div {
  display: flex;
  justify-content: center;
  gap: 12%;
  background-color: var(--theme-back-div);
  border-top: 1px solid var(--theme-border-color);
  border-bottom: 1px solid var(--theme-border-color);
  padding: 13vh 0;
  margin-bottom: 20vh;

  & .back-div-sub {
    display: block;
    justify-content: center;
    width: 250px;
    text-align: center;

    & .back-div-sub-title {
      margin-bottom: 1rem;
      text-align: center;
      white-space: nowrap;
    }
    & .list-container {
      display: inline-block;
      text-align: left;
    }
    & #tool-container {
      transform: translate(5px);
    }
    & #lang-container {
      transform: translate(15px);
    }
    & .list-element {
      transition: all 0.5s ease-out;
    }
    & .list-element:hover {
      transform: translateY(-5px);
    }
  }
}
//visuals________________________
.visual-div {
  display: flex;
  opacity: 0;
  margin: auto;
  gap: 5vw;
  transition: all 1s ease-out;

  &.show {
    opacity: 1;
  }
  &.show #video-container {
    transform: none;
  }
  &.show #image-container {
    transform: none;
  }
  & .visual-container {
    transition: transform 0.5s ease-out;
    position: relative;
  }
  & .citation {
    opacity: 0;
    font-size: small;
    position: absolute;
    color: peru;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  & .text-container {
    display: grid;
    place-items: center;
    font-size: medium;
  }

  //image
  &#image-div {
    width: 60vw;
    justify-content: left;
    margin: 0 auto;
    margin-bottom: 20vh;
    & .text-container {
      text-align: left;
    }
  }
  & #image-container {
    transform: translateX(-5vw);

    & #home-image {
      position: relative;
      width: calc(100px + 15vw);
      border-radius: var(--theme-border-radius);
    }
    &:hover #home-image {
      opacity: 0.6;
    }
    &:hover .citation {
      opacity: 1;
    }
  }

  //video
  &#video-div {
    flex-direction: row-reverse;
    width: 80vw;
    justify-content: center;
    & .text-container {
      text-align: right;
    }
  }
  & #video-container {
    transform: translateX(5vw);
    & #home-video {
      width: calc(200px + 30vw);
      border-radius: var(--theme-border-radius);
    }
    &:hover #home-video {
      opacity: 0.6;
    }
    &:hover .citation {
      opacity: 1;
    }
  }
}
//About
#about {
  & h2 {
    text-align: left;
    margin: 0 30px 15px 30px;
  }
  & .back-div {
    text-align: left;
    padding: 4vh;
    background-color: var(--theme-back-div);
    border-top: 1px solid var(--theme-border-color);
    border-bottom: 1px solid var(--theme-border-color);
    margin-top: 10px;

    & #about-me {
      // text-decoration: overline;
      line-height: 3rem;
      text-align: left;
    }
  }
}
//Contact
#contact {
  text-align: center;
  & h2 {
    margin-bottom: 5vh;
  }
  & #contact-divider {
    border-top: 1px solid var(--theme-border-color);
    width: var(--theme-back-div-width);
    max-width: var(--theme-back-div-max-width);
    margin: auto;
  }
  & a {
    color: #1f6feb;
    text-decoration: underline;
  }
  & a:hover {
    color: #58a6ff;
  }
  & .back-div {
    display: flex;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: var(--theme-back-div);
    & .contact-key {
      white-space: nowrap;
    }
    & .contact-value {
      word-break: break-all;
    }
  }
  & #first-back-div {
    background-color: var(--theme-back-div);
  }
  & #second-back-div {
    background-color: var(--theme-background);
  }
  & #third-back-dliv {
    background-color: var(--theme-back-div);
  }
  & #last-back-div {
    background-color: var(--theme-background);
    margin-bottom: 26vh;
  }
  & i {
    transform: translateY(3px);
    font-size: large;
    margin-right: 5px;
  }
  & #thanks {
    font-size: larger;
    position: relative;
    bottom: 0;
    animation: blink 3s linear infinite;
  }
}
@keyframes blink {
  0% {
    opacity: 0.3;
  }
  40% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}
//next-button
.next-button {
  display: block;
  position: relative;
  margin-top: 140px;
  width: 88px;
  height: 49px;
  font-size: 32px;
  color: var(--theme-font);
  border: 1px solid var(--theme-border-color);
  border-radius: var(--theme-border-radius);
  overflow: hidden;
  background-color: var(--theme-color-plus);
}
//light-button
.next-button.light {
  display: inline-block;
  background: linear-gradient(
    to bottom,
    var(--theme-font) 40%,
    gray 40%,
    gray 60%,
    var(--theme-color) 60%,
    var(--theme-color) 100%
  );
  background-size: 250% 250%;
  background-position: bottom;
  transition: all 0.3s ease;
  transition-property: color, background-position;
  cursor: pointer;
  & .next-text.light {
    transition: color 0.3s ease;
  }
}
.next-button.light:hover {
  color: var(--theme-color);
  background-position: top;
  & .next-text.light {
    color: var(--theme-color);
  }
}
//dark-button
.next-button.dark {
  background-color: var(--theme-color);
  display: inline-block;
  width: 89px;
  height: 50px;
  margin: auto;
  margin-top: 140px;
  z-index: 1;
  cursor: pointer;
  transition: all 0.25s ease-out;
  transition-property: background-position, color;
}
.next-button.dark:hover {
  color: var(--theme-color);
  & .next-text.dark {
    animation: for-dark-in 0.3s ease 0.1s forwards;
  }
}
@keyframes for-dark-in {
  0% {
    color: var(--theme-font);
  }
  49% {
    opacity: 1;
  }
  50% {
    transform: translateX(100%);
    opacity: 0;
  }
  51% {
    transform: translateX(-100%);
    opacity: 0;
  }
  52% {
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    color: var(--theme-font);
  }
}
.next-button:active {
  transform: scale(0.93);
}
//NotFound
#not-found {
  margin-top: 20vh;
}
//Footer
.not-footer {
  min-height: 86vh;
}
.footer {
  margin-top: 7vh;
  height: 7vh;
  bottom: 0;
  background: var(--theme-color);
  display: grid;
  place-items: center;
  border-top: 1px solid var(--theme-border-color);
  & .copyright {
    font-size: calc(7px + 1vmin);
  }
}
//general-mobile
@media only screen and (max-width: 720px) {
  .navbar {
    margin-top: -15px;
  }
}
@media only screen and (max-width: 640px) {
  //navbar
  #title {
    margin: 15px 0 16px 15px;
  }
  .greeting-element {
    display: block;
  }
  //home
  #home {
    //skill-sets_________
    & .back-div {
      flex-direction: column;
      align-items: center;
      gap: 8vh;
    }
    //visuals__________
    & .visual-div {
      //image
      &#image-div {
        width: 85vw;
        & #home-image {
          width: 50vw;
        }
      }
      //video
      &#video-div {
        flex-direction: column;
        width: 85vw;
        justify-content: center;

        & #home-video {
          width: 100%;
        }
        & .text-container {
          text-align: center;
        }
      }
    }
    & .visual-word {
      display: block;
    }
  }
  //about
  #about {
    & .back-div {
      padding: 2vh;
    }
  }
  //footer
  .footer {
    padding: 0rem auto;
  }
}
