* {
  padding: 0;
  margin: 0;
  font-family: var(--theme-font-family);
  box-sizing: border-box;
  color: var(--theme-font);
}
:root {
  --theme-background: #212121;
  --theme-color: #181818;
  --theme-font: #ffffff;
  --theme-font-sub: #c8c8c8;
  --theme-font-family: arial;
  --theme-border-color: #181818;
  --theme-switch: right;

  --display-dropdown: none;
}
body {
  text-align: center;
  background-color: var(--theme-background);
}
body::-webkit-scrollbar {
  width: 0.6rem;
}
body::-webkit-scrollbar-track {
  background: var(--theme-color);
}
body::-webkit-scrollbar-thumb {
  background: #3d3d3d;
  border-radius: 10px;
  border: 0.1px solid var(--theme-color);
}
body h2 {
  margin-top: 10vh;
  margin-bottom: 20px;
}
.not-footer {
  min-height: 72vh;
}

/*Header & NavBar*/
header {
  position: relative;
  background: var(--theme-color);
  text-align: left;
}
#title {
  position: relative;
  margin: 15px 0 3px 30px;
  display: inline-block;
  z-index: 1;
}
.navbar {
  position: sticky;
  top: 0;
  background: var(--theme-color);
  margin-top: -30px;
  border-bottom: 1px solid var(--theme-border-color);
}
.navbar-list {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.navbar-item {
  user-select: none;
  display: inline-block;
  list-style: none;
  margin: 10px 3% 8px 2%;
  transition: opacity 0.2s ease;
}
.navbar-item::before {
  content: "";
  display: block;
  height: 3.5px;
  width: 0%;
  background-color: var(--theme-font);
  border-radius: var(--theme-border-radius);
  transition: width 0.3s ease-out;
}

/*navbar hover*/
.navbar-item:hover::before {
  width: 100%;
}
.navbar-list {
  visibility: hidden;
}
.navbar-list > * {
  visibility: visible;
}
.navbar-list:hover > *,
.navbar-list:hover > *::before {
  opacity: 0.3;
}
.navbar-item:hover,
.navbar-item:hover::before {
  opacity: 1;
}
/**/

.navbar-item a {
  color: currentColor;
  text-decoration: none;
}
#theme-switch {
  display: inline;
  min-width: 23px;
  height: 23px;
  transform: translateY(1px);
  border: 2px solid peru;
  border-radius: 50%;
  cursor: pointer;
  background: linear-gradient(90deg, #212121 50%, white 50%);
  background-size: 200% 200%;
  background-position: center;
  transition: all 0.3s ease-out, opacity 0.2s ease;
}
#theme-switch::before {
  display: none;
}
#theme-switch:hover {
  background-position: var(--theme-switch);
}
.dropdown {
  position: absolute;
  width: 78px;
  background-color: var(--theme-color);
  border: 1px solid var(--theme-border-color);
  border-top: 3px solid var(--theme-font);
  border-bottom-left-radius: var(--theme-border-radius);
  border-bottom-right-radius: var(--theme-border-radius);
  margin-top: 7px;
  display: var(--display-dropdown);
  text-align: center;
  justify-content: space-around;
  padding-top: 12px;
  list-style: none;
  list-style-position: inside;
}
.dropdown-item {
  cursor: pointer;
  margin-bottom: 9px;
  color: var(--theme-font-sub);
}
.dropdown-item:hover {
  color: var(--theme-font);
}

/*<Main>*/
.main p {
  margin: 0 20vw;
}
.main button {
  border: none;
  background-color: var(--theme-font);
  color: var(--theme-color);
  border-radius: 4px;
  padding: 2px 6px;
  margin: 5px;
}
.main button:active {
  opacity: 0.7;
}
/*Home*/
.home {
  display: block;
}
/*About*/

/*Contact*/

/*NotFound*/
#not-found {
  margin-top: 20vh;
}

/*Footer*/
footer {
  position: relative;
  bottom: 0;
  background: var(--theme-color);
  width: 100%;
  height: 8vh;
  display: grid;
  place-items: center;
  margin-top: 20vh;
  border-top: 1px solid var(--theme-border-color);
}
footer p {
  font-size: 15px;
}
